[submodule "ShadowWolfEngine/Dependencies/SPDLOG"]
	path = ShadowWolfEngine/Dependencies/SPDLOG
	url = https://github.com/gabime/spdlog.git
[submodule "ShadowWolfEngine/Dependencies/imgui"]
	path = ShadowWolfEngine/Dependencies/imgui
	url = https://github.com/BlackWolf9584/imgui.git
[submodule "ShadowWolfEngine/Dependencies/GLFW"]
	path = ShadowWolfEngine/Dependencies/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "ShadowWolfEngine/Dependencies/FastNoise"]
	path = ShadowWolfEngine/Dependencies/FastNoise
	url = https://github.com/Auburns/FastNoise.git
