[submodule "ShadowWolfEngine/Dependencies/SPDLOG"]
	path = ShadowWolfEngine/Dependencies/SPDLOG
	url = https://github.com/gabime/spdlog.git
[submodule "ShadowWolfEngine/Dependencies/imgui"]
	path = ShadowWolfEngine/Dependencies/imgui
	url = https://github.com/BlackWolf9584/imgui.git
